.header__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    position: relative;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    transform: translateY(-50%);
    background: #ffffff;
    padding: 8px;
}

.video__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.video__player {
    display: flex;
    width: 50%;
}

.video__metadata {
    display: flex;
    width: 50%;
    margin-left: 1rem;
    flex-direction: column;
    p {
        margin: 0.25rem;
    }
}

.video__title {
    color: red;
}